LINKEDIN_BASE_URL=https://www.linkedin.com/
LINKEDIN_PROFILE_ENDPOINT=/in/dummy-profile
LINKEDIN_API_TOKEN=abc123

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=http://localhost:8080/api/auth/linkedin/callback